@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* 
   FONTS IMPORTADAS
   font-family: 'Bebas Neue', cursive;
   font-family: 'Open Sans', sans-serif; 
*/

/* || ESTILOS GERAIS */

html {
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
}

body {
   background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
   font-size: 2rem;
   font-weight: bold;
}

/* || WEBSITE */

.header {
   padding: 0.5em;
}

.header__title {
   font-family: 'Bebas Neue', cursive;
   font-size: 1.8rem;
   letter-spacing: 0.1rem;
   text-align: center;
   margin-top: 1rem;
}

.header__subtitle {
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;
   font-size: 0.8rem;
   text-align: center;
}